<div class="frust-item" id="frust-main-container-<%= frustration.id %>">
    <div class="frust-main-container">
        <div class="frust-love-bubble" id="frust-love-bubble-<%= frustration.id %>">
            <span class="love-bubble-count" id="love-bubble-count-<%= frustration.id %>"><%= frustration.love %></span>
        </div>
        <a href="<%= frustration_path(frustration) %>">
        <div class="frust-comment-bubble" id="frust-comment-bubble-<%= frustration.id %>">
            <span class="love-bubble-count" id="comment-bubble-count-<%= frustration.id %>"><%= frustration.comments.length %></span>
        </div>
        </a>
        <% if user_signed_in? && current_user.admin? %>
        <a href="<%= frustration_path(frustration) %>" data-method="delete" data-remote="true">
            <div class="frust-remove-bubble">
            </div>
        </a>
        <% end %>
        <div class="frust-content">
            <span><%= frustration.content %></span>
            <div class="time-ago" id="time-ago-<%= frustration.id %>"><%= link_to time_ago_in_words(frustration.created_at) + ' ago', frustration %></div>
            
        </div>
        <div class="big-love" id="big-love-<%= frustration.id %>">
            <%= image_tag('heart_grey.png') %>
        </div>
        <div class="frust-actions">
            <a href="#" id="frust-love-action-<%= frustration.id %>"><span class="frust-love-action"></span></a>
            <a href="#" id="frust-comment-action-<%= frustration.id %>"><span class="frust-comment-action"></span></a>
        </div>
    </div>
    <script>
        $('#frust-love-action-<%= frustration.id %>').click(function(e){
            e.preventDefault();
            $('#frust-love-bubble-<%= frustration.id %>').show();
            count = parseInt($('#love-bubble-count-<%= frustration.id %>').text(), 10) + 1;
            $('#love-bubble-count-<%= frustration.id %>').text(count);
            
            var n = $('#frust-love-bubble-<%= frustration.id %>');
            n.css('background-size', (parseFloat(n.css('background-size')) + 2) + '%');
            
            
            $('#big-love-<%= frustration.id %>').fadeIn().delay(300).fadeOut();
            $.getJSON("<%= add_love_path(:id => frustration.id) %>", {}, 
                function(data) {
                    // let's update the progress bar based on the server response
                    if(data < 34) {
                        percents = data + '%';
                        $('#green-progress-bar-part').css('width', percents);
                    } else if(data < 67) {
                        percents = data - 33 + '%';
                        $('#yellow-progress-bar-part').css('width', percents);
                    } else if(data < 101) {
                        percents = data - 66 + '%';
                        $('#red-progress-bar-part').css('width', percents);
                    }
                    
                    if(data >= 100) {
                        $('#big-red-button').show();
                    }
                }
            
            );
        });
        <% if frustration.love > 0 %>
            $(document).ready(function(){
                $('#frust-love-bubble-<%= frustration.id %>').fadeIn('slow');
                $('#frust-love-bubble-<%= frustration.id %>').css('background-size', '<%= love_icon_size(frustration.love) %>%');
            });
        <% end %>
        
        <% if frustration.comments.length > 0 %>
            $(document).ready(function(){
                $('#frust-comment-bubble-<%= frustration.id %>').fadeIn('slow');
            });
        <% end %>
        
        $('#comment-input-<%= frustration.id %>').live('keypress', (function(e) {
            if(e.which == 13) {
                if($('#comment-input-<%= frustration.id %>').val() != '') {
                    $('#send-comment-<%= frustration.id %>').trigger('click');
                }
            }
        }));
        
        $('#frust-comment-action-<%= frustration.id %>').click(function(e){
            e.preventDefault();
            if ($('#comment-form-<%= frustration.id %>').length) {
                $('#comment-form-<%= frustration.id %>').remove();
                $('#time-ago-<%= frustration.id %>').show();
            } else {
            $('#time-ago-<%= frustration.id %>').hide();
            $('#frust-main-container-<%= frustration.id %>').append('<div class="comment-form" id="comment-form-<%= frustration.id %>"><div class="input-append"><input class="span3" id="comment-input-<%= frustration.id %>" type="text"><button class="btn" type="button" id="send-comment-<%= frustration.id %>">Comment</button></div></div>');
           } 
        });
        
        $('#send-comment-<%= frustration.id %>').live('click', function(e){
            e.preventDefault();
            
            $.ajax('<%= add_comment_path(frustration) %>', {
                data: { content: $('#comment-input-<%= frustration.id %>').val() },
                cache: false,
                dataType: 'json',
                beforeSend: function() {
                    $('#send-comment-<%= frustration.id %>').text("Sending...");
                },
                complete: function(json){
                    $('#comment-form-<%= frustration.id %>').remove();
                    $('#time-ago-<%= frustration.id %>').show();
                    
                },
                
                success: function(json){
                    $('#frust-comment-bubble-<%= frustration.id %>').show();
                    var a = $('#comment-bubble-count-<%= frustration.id %>').text() + 1;
                    $('#comment-bubble-count-<%= frustration.id %>').text(json);
                }
            });
            
            
        });
        
    </script>
</div>
