<div class="frustration-details">
    <h1>Frustration details</h1>
    <p class="frustration-description"><%= @frustration.content %></p>
    <p class="time-ago">Added <%= time_ago_in_words(@frustration.created_at) + ' ago' %></p>
    <% unless @frustration.comments.empty? %>
        <h1>Comments</h1>
        <% @frustration.comments.each do |comment| %>
            <div class="comment-container">
                <div class="comment">
                    <%= comment.content %>
                </div>
                <p class="time-ago">Added <%= time_ago_in_words(comment.created_at) + ' ago' %></p>
            </div>
        <% end %>
    <% end %>
</div>
<%= link_to 'Back', frustrations_path, :class=>'btn btn-warning' %>
