<!DOCTYPE html>
<html lang="en">
<head>
  <title>Frustration Wall</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrap">
        <header>
            <div class="navbar">
              <div class="navbar-inner">
                <a class="brand" href="/">Home</a>
                <ul class="nav pull-right">
                    <% if user_signed_in? %>
                        <li><%= link_to 'Profile', edit_user_registration_path %></li>
                        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                    <% else %>
                        <li><%= link_to "Register", new_user_registration_path %></li>
                        <li><%= link_to "Login", new_user_session_path %></li>
                    <% end %>
                </ul>
              </div>
            </div>
        </header>
        <a href="#">
            <div id="scroll-up">
                Go Up
            </div>
        </a>
        <div class="container">
            <div class="jumbotron ribbon-wrapper">
                <div class="ribbon-wrapper-green"><div class="ribbon-green">BETA</div>
                    
                </div>
                <h1>Super awesome project</h1>
                    <p class="lead">You always wanted this</p>
                    <div id="new_frustration_form">
                        <%= render 'frustrations/form' %>
                    </div>
                    <a href='#' class='button-blue' id="toggle-frustration-form">Add one</a>
            </div>
            <hr />
            <div class="container">
                <%= yield %>
            </div>
        </div>
        <div id="push"></div>
    </div>
    <div id="footer">
        <div class="container">
            Some text for the footer
        </div>
    </div>
    <script>
        $('#toggle-frustration-form').click(function(){
            
            var txt = $("#new_frustration_form").is(':visible') ? 'Add one' : 'Maybe not';
            $("#toggle-frustration-form").text(txt);
            $('#new_frustration_form').slideToggle();
        });
    </script>
</body>
</html>
